/* landingpage.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.landing-page {
  text-align: center;
}
.paragraph {
  max-width: 1200px; /* Set your desired max-width */
  margin: 0 auto; /* Center the content */
}

.featureparagraph{
  max-width: 1200px; /* Set your desired max-width */
  margin: 0 auto 100px;
}
header {
  color: #fff;
}

.header-content {
  text-align: center;
  margin-left: 20px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Add specific class for the cover section */
.cover-section {
  display: flex;
  background: url('//unpkg.com/three-globe/example/img/night-sky.png') center/cover no-repeat;
  padding: 100px;
  overflow-y: auto;
  color: #fff;
}

.left-content {
  display: flex;
  max-width: 450px;
  padding: 20px;
  text-align: left;
}
.cta-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: 200px; /* Adjust margin as needed */
}

.covertitle{
    font-size: 40px;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;

}
.header-button {
  display: inline-flex;
  align-items: center;
  padding: 60px;
  background-color: #18324a;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 50px;
  font-family:  'Space Mono', monospace;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.cta-button{
    display: inline-flex;
    align-items: center;
    padding: 20px;
    background-color: #18324a;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-family:  'Space Mono', monospace;
    transition: background-color 0.3s ease;
    cursor: pointer;

}

.header-button:hover {
  background-color: #191616;
}

.footer{
  background-color: #000000;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* Add more styles as needed */
